<h1>Products</h1>
<div>
  {{#each allProducts}}
  <ul>
    <li>Title :{{title}} 
    <li>Description : {{description}}</li>  
    <li>Thumnail: {{thumnail}}</li>  
    <li>Code: {{code}}</li>  
    <li>Price:{{price}}</li>  
    <li>Status: {{status}}  
    <li>Cartegory :{{category}}</li>  
    <li>id: {{id}}</li>
    </ul>
  {{/each}}
</div>

