<ul>
  {{#each allProducts}}
  <li>
    Title :{{title}} </li>  
    Description : {{description}}</br>  
    Thumnail: {{thumnail}}</br>  
    Code: {{code}}</br>  
    Price:{{price}}</br>  
    Status: {{status}}  
    Cartegory :{{category}}</br>  
    id: {{id}}</br>
    </li>
  {{/each}}
</ul>

